body, html{
  font-family: 'Verdana';font-size: 100%;
  margin:0;
  padding:0;
  width:100%;
}
.news-item {
  border-bottom: 1px solid #C0C0C0;
}
a:link {
  text-decoration: none;
}
.center {
  position: relative;
  left: 35%;
  top: 0%;
}
.ago {
  color: #909090;
  font-style: normal;
}
.border-3 {
  border-width:2px;
  border-color:#909090;
  border-radius:0px;
  color:#707070;
}
.border-2 {
  border-width:1px;
  border-color:#C0C0C0;
  border-radius:0px;
  color:#707070;
}
.border-bottom {
  border-color:#909090;    
}

@media (min-width: 500px) {
    p, h4, h5 {
      font-size: 275%;
    }
    .card-text {
      font-size: 225%;
    }
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 995px) {
    p, h4, h5 {
      font-size: 150%;
    }
    .card-text {
      font-size: 125%;
    }
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 2000px) {
    .card-columns {
        column-count: 5;
    }
}
@media (min-width: 2800px) {
    .card-columns {
        column-count: 6;
    }
}
